@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.pinimg.com/564x/d9/0b/1a/d90b1a7235ad4aa449fc31bf8bf77ea7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  padding: 20px;
}

.weather-container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.5);
  max-width: 600px;
  width: 100%;
}

.search-bar {
  margin-bottom: 20px;
}

button {
  background-color: #1e90ff;
  transition: all 0.3s ease;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #1c86ee;
}

.error-message {
  color: red;
}

.weather-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  justify-content: center;
  color: white;
  opacity: 0.93;
}

.weather-info img {
  max-width: 100%;
  border-radius: 5px;
}

.weather-info img:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.weather-info p {
  margin: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.weather-info p:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.weather-info-box {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  .weather-container {
    padding: 15px;
    border-radius: 8px;
  }

  .weather-info {
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .weather-info p {
    padding: 8px;
  }
  
  button {
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .weather-container {
    padding: 10px;
    border-radius: 5px;
  }

  .search-bar {
    margin-bottom: 15px;
  }

  .weather-info {
    gap: 5px;
  }

  .weather-info p {
    padding: 6px;
  }

  button {
    padding: 6px 12px;
  }
}